<section id="portfolio" class="client-bg">
  <div class="container portfolio-flex-grid">
    <div class="row">
		<div class="col-lg-12 text-center">
			<h2>People we have worked with</h2>
		</div>

		<div class="col-lg-12 text-center">
		<div class="portfolio-flex-item portfolio-item"> 
<img src="/img/clients/ubss.jpg" alt="Client" class="img-client">
<img src="/img/clients/napwha.jpg" alt="Client" class="img-client">
<img src="/img/clients/OEH.jpg" alt="Client" class="img-client">
<img src="/img/clients/ozharvest.jpg" alt="Client" class="img-client">
<img src="/img/clients/chs.png" alt="Client" class="img-client">
<img src="/img/clients/wsu.png" alt="Client" class="img-client">
		</div>
	</div>
		</div>
	</div>
</section>

